.main-footer {
    display: flex;
    background-color: rgb(70, 76, 104);
    height: 50px;
    margin-top: auto;
    position: relative;
    color: white;
    align-items: center;
    justify-content: center;
} 